<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="edu.jhu.cs.oose.fall2011.facemap.gui">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/myTheme"
    	android:name="edu.jhu.cs.oose.fall2011.facemap.gui.ClientAppApplication" android:debuggable="true">
        <activity android:name="edu.jhu.cs.oose.fall2011.facemap.gui.MainPageActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RegisterPageActivity"></activity>
        <activity android:name="LoginPageActivity"></activity>
        <activity android:name="MyInfoPageActivity"></activity>
        <activity android:name="EditMyInfoPageActivity"></activity>
        <activity android:name="EditMyPicturePageActivity"></activity>
        <activity android:name="SetVisibilityPageActivity"></activity>
        <activity android:name="ChangePasswordPageActivity"></activity>
        <activity android:name="MenuPageActivity"></activity>
        <activity android:name="ContactsPageActivity"></activity>
        <activity android:name="LocatePageActivity"></activity>
        <activity android:name="AllContactsPageActivity"></activity>
        <activity android:name="GroupsPageActivity"></activity>
        <activity android:name="LocateRangePageActivity"></activity>
        <activity android:name="LocateMapPageActivity"></activity>
        <activity android:name="LogoutActivity"></activity>
        <activity android:name="AddContactPageActivity"></activity>
        <activity android:name="AddGroupPage1Activity"></activity>
        <activity android:name="AddGroupPage2Activity"></activity>
        <activity android:name="FacemapMapActivity" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="SendSMSPageActivity"></activity>
        <activity android:name="AddToGroupsPageActivity"></activity>
        <activity android:name="ContactIndividualPageActivity"></activity>
        <activity android:name="FacemapMapActivity"></activity>
        <activity android:name="GroupIndividualPageActivity"></activity>
        <activity android:name="SendIMPageActivity"></activity>
        <activity android:name="SendSMSPageActivity"></activity>
        <activity android:name="UnblockContactActivity"></activity>
        <uses-library android:name="com.google.android.maps" />
        <activity android:name="FriendRequestsPageActivity"></activity>
        <activity android:name="SelectMembersPageActivity"></activity>
        <activity android:name="GroupNearbyPageActivity"></activity>
        <activity android:name="SendSMSPageActivity"></activity>
        <activity android:name="ContactIndividualPageActivity"></activity>
        <activity android:name="GroupMembersPageActivity"></activity>
        <activity android:name="GroupIndividualPageActivity"></activity>
        <activity android:name="GroupUnclassifiedPageActivity"></activity>
        <activity android:name="SelectUnclassifiedMembersPageActivity"></activity>
        <activity android:name="AddToGroupsPageActivity"></activity>
        <activity android:name="FacemapMapActivity"></activity>
        <activity android:name="SendEmailPageActivity"></activity>
        <activity android:name="SendIMPageActivity"></activity>
        <activity android:name="SelectContactForMapActivity"></activity>
        <activity android:name="SelectContactForMapActivity"></activity>    
    </application>
    
</manifest>